    body
{
    background-color: #4a4a49;
}
    header
{
      color: white;
}
    .main
{
    width: 400px;
    margin: auto;
    height: auto;
    margin-bottom: 5;
    padding: 15px;
}
    input[type=text]
{
   background-color: #bacc89;
   height: 55px;
   padding: 0px;
   margin-bottom: 5px;
   margin-left: 4px;
   margin-right: 5px;
   margin-top: 5px; 
}
    input[type=button]
{
   width: 80px;
   padding: 13px;
   font-size: 22px;
   margin: 2;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 7px;
   margin-top: 5px;
   background-color: #5c5a59;
   color: white;
   border: none;
}
  .back
  {
    position: absolute;
    left: 420px; 
  }